/*
h1 {
  color: red;
  background-color: white;
}
*/

.triangles {
  fill: none;
}

.links {
  stroke: #000;
}

.sites {
  fill: #000;
  stroke: #fff;
}

.triangles .primary {
  fill: #f00;
}

.links .primary {
  stroke: #fff;
}

.sites :first-child {
  fill: #fff;
}